extend base

block content
    header.header
        .header-logo
            a(href='./login')
                svg.icon-logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                    path(d='M0 0h24v24H0z' fill='none')
                    path(d='M2.53 19.65l1.34.56v-9.03l-2.43 5.86c-.41 1.02.08 2.19 1.09 2.61zm19.5-3.7L17.07 3.98c-.31-.75-1.04-1.21-1.81-1.23-.26 0-.53.04-.79.15L7.1 5.95c-.75.31-1.21 1.03-1.23 1.8-.01.27.04.54.15.8l4.96 11.97c.31.76 1.05 1.22 1.83 1.23.26 0 .52-.05.77-.15l7.36-3.05c1.02-.42 1.51-1.59 1.09-2.6zM7.88 8.75c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-2 11c0 1.1.9 2 2 2h1.45l-3.45-8.34v6.34z')
                h1 FidBook
    main.main
        .container-signup-form
            .subtitle-container
                h2.subtitle Log In
                span.subtitle-sub A your cards in one place
            form.signup-form
                .form-group
                    // <label for="email">Email address</label>
                    input#email(type='email' name='email' required='' placeholder='Your email')
                .form-group
                    // <label for="password">Password</label>
                    input#password(type='password' name='password' placeholder='••••••••' required='' minlength='8')
                .form-group
                    button.btn.btn--blue.login-btn-log Login
                .form-group.btn--sign-up-screen
                    a.btn.btn--blue.btn--sign-up-screen.btn-sign-up-link#change-password(href='/signup') Sign up
                        
                .form-group
                    a.reset-a(href='/passwordforget') Forgot your password ?
    footer.footer
        .btn-sign-up-big-container
            .btn_sign-up-container
                a.sign-up-link(href='/signup')
                    button.btn.btn--blue.btn--sign-up-mobile Sign up
                        